<div class="wrapper row">
    <aside class="main_sidebar col-sm-2" [ngClass]="{'expandMenu': !expand}">
        <ul>
            <li class="expandButton" (click)="expandMenu()"><i class="fa fa-bars"></i><a></a></li>          
            <li routerLink="home" routerLinkActive="active" ><i class="fa fa-home"></i><a><h5>Home</h5></a></li>
            <li routerLink="form" routerLinkActive="active"><i class="fa fa-pencil-square-o"></i><a><h5>Form</h5></a></li>
            <li routerLink="score" routerLinkActive="active"><i class="fa fa-bar-chart"></i><a><h5>Score</h5></a></li>
        </ul>
    </aside>
    <div class="mian col-sm-10">
      <router-outlet></router-outlet>
    </div>
</div>

